footer{
    background-color: #E5E7E9 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    h3{
        font-size: 30px;
    }
    ul{
        list-style: none;
        li{
            a{ text-decoration: none;
                color: black;
                font-size: 20px;}
        }
    }
}   